[Unit]
Description=Steam remote control via MQTT
After=graphical-session.target

[Service]
ExecStart=/bin/bash %h/.local/bin/steam-remote

[Install]
WantedBy=graphical-session.target
