[Unit]
Description=Resume G15 daemon after suspend
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --no-block restart g15daemon.service

[Install]
WantedBy=suspend.target 
